<div class="container">
  <h2 class="center">Sensor Dashboard</h2>
  <div class="filter-container center">
    <mat-form-field class="space" appearance="outline">
      <mat-label>שם ההתקן באתר"</mat-label>
      <input matInput [(ngModel)]="nameFilter" placeholder="שם ההתקן באתר">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>תאריך עדכון אחרון</mat-label>
      <input matInput [(ngModel)]="dateFilter" placeholder="YYYY-MM-DD">
    </mat-form-field>
  </div>
  <p class="center">Total: {{ filteredSensors().length }} |
    Working: {{ filteredWorkingCount }} |
    Faulty: {{ filteredFaultyCount }}
 </p>
  <div class=" sensor-container">
    <app-sensor-card
      *ngFor="let sensor of filteredSensors()"
      [sensor]="sensor">
    </app-sensor-card>
  </div>

  <br>
  <div class="center">
  <button mat-raised-button color="primary" routerLink="/add-sensor">הוסף חיישן</button>
</div>
</div>
