.sensor-card {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sensor-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}
.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  cursor: pointer; /* Makes it clickable */
  transition: background-color 0.3s ease;
}
.status-indicator:hover {
  opacity: 0.7;
}
